@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Lobster&family=Oswald:wght@300;400;500;600&family=Roboto+Condensed&family=Sevillana&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100vw;
    font-family: 'Alef', sans-serif;
    background: #fff;
}

.header {
    background-image: radial-gradient(at top right, transparent 44%, #fff 25.5%), linear-gradient(100deg, #FFA000 0%, #FFA000 100%);
    background-size: 120% 166%, cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.nav-bar {
    height: 80px;
    width: 100%;
    z-index: 1;
}

.nav-btn {
    background: #fff;
    padding-block: 10px;
    padding-inline: 25px;
    border-radius: 25px;
    cursor: pointer;
}

nav ul {
    float: right;
    margin-right: 150px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
    font-weight: bold;
    font-size: 1rem;
}

.check {
    font-size: 2.5rem;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    top: 80px;
    left: 0;
    text-align: center;
    transition: all .5s;
}

#check-btn {
    display: none;
}

.div-header {
    display: flex;
    margin-top: 40px;
    margin-inline: 3rem;
    margin-bottom: 90px;
}

.header-content-1 {
    padding-inline: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding-top: 100px;
    width: 50%;
}

.header-content-2 {
    width: 50%;
}

.header-content-1>h1 {
    font-size: 3.5rem;
    color: #413f3f;
}

.header-content-1>p {
    font-size: 1rem;
    color: #757575;
}

.div-container-btn {
    margin-top: 30px;
}

.div-content-btn {
    background: #FFA000;
    color: #fff;
    padding-block: 15px;
    padding-inline: 30px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 30px;
    cursor: pointer;
}

.content-image {
    position: relative;
    right: 240px;
}

.fa-solid {
    color: #fff;
    margin-left: 10px;
}


/*--------------Div Time section---------------------*/

.div-time-section {
    display: flex;
    padding-block: 100px;
    justify-content: center;
    gap: 50px;
    margin-top: 4px;
}

.div-time-section>div {
    width: 300px;
    padding-block: 30px;
    text-align: center;
    margin-block: 15px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.div-time-section i {
    color: #FFA000;
    font-size: 2rem;
}

.time-sec-1>*,
.time-sec-2>*,
.time-sec-3>* {
    margin-block: 5px;
}

.midsec-content {
    font-weight: bold;
    font-size: 1.2rem;
}

.foot-content {
    font-size: 1.1rem;
    color: #838d8a;
}


/*--------------About Time section---------------------*/

.about-us-section {
    display: flex;
}

.image-holder {
    width: 500px;
    height: auto;
}

.about-us-image {
    width: 100px;
    height: auto;
}

.about-us-section>div {
    flex: 1;
}

.image-mini-container {
    background-color: #FFA000;
    ;
    width: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.about-us-image {
    width: 100px;
}

.about-us-content {
    padding-top: 100px;
    padding-inline: 50px;
}

.about-us-content>* {
    margin-block: 15px;
}

.about-sub-title {
    font-size: 1.2rem;
    color: #FFA000;
    font-weight: 800;
}

.about-sub-header {
    font-size: 2.5rem;
    color: #413f3f;
}

.about-us-text {
    color: #2c2b2b;
}

.footer-holder {
    margin-top: 20px;
    display: flex;
    padding-block: 15px;
    padding-inline: 5px;
    gap: 50px;
}

.learn-more {
    font-size: 1.08rem;
    font-weight: 800;
    letter-spacing: .01rem;
    color: #fff;
    background: #FFA000;
    padding-block: 15px;
    padding-inline: 30px;
    border-radius: 30px;
}

.learn-more-sec {
    display: flex;
    gap: 20px;
    font-size: 1.08rem;
    align-items: center;
    border-radius: 50%;
}

.learn-more-sec>i {
    transition: all .5s;
    border-radius: 50%;
}

.learn-more-sec>i:hover {
    background: transparent;
    box-shadow: 0 0 1px 15px rgba(107, 103, 103, 0.5);
}

.fa-circle-play {
    color: #525554;
    font-size: 3rem;
    cursor: pointer;
}

.learn-more-content {
    color: #838d8a;
}


/*---------------How it works section--------------------*/

.how-it-works {
    background: #6adbb9;
}

.how-it-works-header-container {
    border: 3px solid #fff;
    padding-block: 30px;
    padding-inline: 50px;
    text-align: center;
}

.how-it-works-header-container>* {
    border: 2px solid yellowgreen;
    margin-block: 15px;
}

.how-it-works-paragraph {
    padding-inline: 350px;
}

.how-it-works-header {
    color: #FFA000;
    font-size: 1rem;
}

.how-it-works-sub-header {
    color: #525554;
    font-size: 2.5rem;
    font-weight: 800;
}

.how-it-works-paragraph {
    color: #525554;
}

.how-it-works-content-header {
    height: 300px;
    background: #c71212;
}

.how-it-works-content-header {
    border: 3px solid #b8670c;
}

.how-it-works-content-header>div {
    border: 3px solid #dd23b5;
}

.how-it-works-content-header-child1>* {
    border: 2px solid #660ea1;
}


/*-----------------------------------*/


/*---------------Media queries-------*/


/*-----------------------------------*/

@media(max-width: 962px) {
    .logo {
        height: 100px;
        width: 100px;
        margin-left: 20px;
    }
    .nav ul li {
        font-size: 1rem;
    }
}

@media(max-width: 858px) {
    .check {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #FFA000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
    }
    #check-btn:checked~ul {
        left: 0;
    }
}