@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Lobster&family=Oswald:wght@300;400;500;600&family=Roboto+Condensed&family=Sevillana&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: aquamarine;
    width: 100vw;
    font-family: 'Alef', sans-serif;
}

.header {
    background-image: radial-gradient(at top right, transparent 44%, #fff 25.5%), linear-gradient(100deg, #51a595 0%, #3fcfa2 100%);
    background-size: 120% 150%, cover;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.nav-bar {
    height: 80px;
    width: 100%;
    z-index: 1;
}

nav ul {
    float: right;
    margin-right: 200px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
    font-weight: bold;
    font-size: 1rem;
}

.check {
    font-size: 2.5rem;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
    top: 80px;
    left: 0;
    text-align: center;
    transition: all .5s;
}

#check-btn {
    display: none;
}

.nav-div-container {}


/*-----------------------------------*/


/*---------------Media queries-------*/


/*-----------------------------------*/

@media(max-width: 962px) {
    .logo {
        height: 100px;
        width: 100px;
        margin-left: 20px;
    }
    .nav ul li {
        font-size: 1rem;
    }
}

@media(max-width: 858px) {
    .check {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #e7b307;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
    }
    #check-btn:checked~ul {
        left: 0;
    }
}