@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&family=Lobster&family=Oswald:wght@300;400;500;600&family=Roboto+Condensed&family=Sevillana&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: aquamarine;
    width: 100vw;
    font-family: 'Alef', sans-serif;
}

.container {
    height: 300px;
    width: 100%;
    background: #fff;
}

.logo {
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.nav-bar {
    background: #fff;
    height: 80px;
    width: 100%;
}

.nav-bar div {
    border: 1px solid red;
}

nav ul {
    float: right;
    margin-right: 200px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

.nav-div-container {}